# macOS junk
.DS_Store
._*
.AppleDouble
.LSOverride

# VS Code
.vscode/settings.json

# Node
node_modules/

# Logs
*.log

# Environment variables
.env
.env.local

# Temporary files
tmp/
temp/

# Windows
Thumbs.db
Desktop.ini